ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
    margin: 10px;
    border: 5px inset #8f8f8f;
    padding: 3px;
}
.title{
    text-align: center;
}
.side{
    float: left;
    margin-top: 200px;
    margin-left: 10px;
    position: fixed;
}
.articles{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.col{
    float: left;
    width: 260px;
    padding: 10px;
}
.container{
    margin-left: auto;
    margin-right: auto;
}
body{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.facebook{
    padding-bottom: 10px;
}
